page-my-addresses {

    .addressesPage-container {
        .map-sample {
            height:5vh;
        }

        .address-list-container {
            height:15vh;
            background-color: #22222B;
            color: #B2CAF8;
            .address-item{

                background-color: #B2CAF8;
            }
        }


    }

}
