<ion-header>
  <ion-navbar color="customColor">
    <ion-title text-center class="mainTitles">Candy Infos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="candyDetailsPage-container">
  <div class="candyDetailsPage" *ngIf="candyItem">

      <div class="candyItemTitle">
        <div class="candyThumbnail">
          <img src="{{candyItem.image_front_url}}">
        </div>
        <div>
          <h1>{{ candyItem.product_name | slice:0:30 }}</h1>
        </div> 
      </div>

      <div class="rubrik">
        <h1 (click)="toggleIngredients()">Ingredients<span class="arrowIcon"></span></h1>
        <div class="candyIngredients" *ngIf="showIngredients">
          <table>
            <!-- <th class="candyName"></th> -->
            <tr *ngFor="let i of candyItem.ingredients_tags">
              <td>
                {{i}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="rubrik">
        <h1 (click)="toggleNutriscore()">Nutriscore</h1>
        <div class="candyNutriscore" *ngIf="showNutriscore">
          <table>
            <!-- <th class="candyName"></th> -->
            <tr *ngFor="let i of candyItem.nutriscore_data | keyvalue">
              <td>
                {{i.key | removeUnderscore }}
              </td>
              <td>
                {{i.value}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class="rubrik">
        <h1 (click)="toggleAllergens()">Allergens</h1>
        <div class="candyAllergens" *ngIf="showAllergens">
          <table>
            <!-- <th class="candyName"></th> -->
            <tr *ngFor="let i of candyItem.ingredients_tags">
              <td>
                {{i.key}}
              </td>
            </tr>
          </table>
        </div>
      </div>

  </div>
</ion-content>
