
h1, h2, h3, h4, h5, h6 {
  margin:0;
}

page-list {

    // bat background
    .candyPageContainer {
      background-image: url('../assets/graphicMat/gradient_bats_1920.png');
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
      margin-top: 0 !important;
      .add-label {
        height:20vh;
        background-image: url('../assets/graphicMat/sparkles.png');
        background-size: cover;
        background-position: center
      }
      .add-label img {
        max-width: 100px;
        float: right;
      }
    }

    .candyList {
      display:flex;
      flex-direction: column;
      width: 80%;
      margin: -10% 10%;
    }

    .candyItem {
      height: 15vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      border-bottom: 3px solid #B1C9FB;
      // border-top: 2px solid #B1C9FB;
      .candyName {
        max-width: 70%;
        display:flex;
        flex-direction: column;
              h1, h2 {
                font-family: 'Titan One', cursive;
                color: #B1C9FB;
                text-transform: uppercase;
                text-align: center;
              }
              h1 {
                font-size: 1.8rem;
                transform: scale(1, 1.2);
                -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
                -moz-transform: scale(1, 1.2); /* Firefox */
                -ms-transform: scale(1, 1.2); /* IE 9+ */
                -o-transform: scale(1, 1.2); /* Opera */
              }
              h2 {
                font-size: 1.6rem;
              }
      }
      .candyThumbnail {
        height: 8rem;
        width: 8rem;
        min-width: 8rem;
        border: 3px solid red;
        background-color:pink;
        align-content: center;
        align-items: center;
        overflow:hidden;
        border-radius: 50px;
      }
      .plus-btn > button{
        width: 5rem;
        height:5rem;
        background-color: transparent;
        }
    }
}

/* customize toast message */
    .toast-message {
      height: 10vh !important;;
      background-color: rgba(255, 0, 0, 0.589) !important;
      color: orange !important;;
      font-family: "flyingleather" !important;
      font-size: 5rem !important;
      text-align: center;
    }