page-map {

   }

    .mapPage-container{

        height: 100vh;
        width: 100%;

        .mapContainer {
            width: 80%;
            height: 80%;
            border: 5px solid black;
            margin: 10% auto;
            #map { height: 100%; width: 100%; }

        .leaflet-bar {
            margin-top: 30vh;}

        .scroll-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}    


/* from https://github.com/Leaflet/Leaflet/issues/4686 */
.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }



