@import "assets/fonts/flyingleather.ttf";
@import "assets/fonts/TitanOne-Regular.ttf";

page-welcome {

  .homepage-container {
    // bat background
    background-image: url('../assets/graphicMat/gradient_bats_1920.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;

    .titles-container {
      width: 75%;
      height:50vh;
      margin: 5rem auto 5rem auto;
      background-image: url('../assets/graphicMat/circles.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .candyTitle {
        margin-top: 20%;
      }
      
      p {   // 'chase' title
        font-family: "flyingleather";
        font-size: 20vw;
        color: orange;
        opacity: 0.8  ;
        // text-shadow: 0 5px 10px #000000;
        margin-top: 0px;
        transform: scale(1, 1.2);
        -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
        -moz-transform: scale(1, 1.2); /* Firefox */
        -ms-transform: scale(1, 1.2); /* IE 9+ */
        -o-transform: scale(1, 1.2); /* Opera */
      }
    }
  }
  .startButton {
    width:80vw;
    margin: auto;
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    border-radius: 50px;
    font-size: 8vw;
    font-family: 'Titan One', cursive;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 5vw;
    p {
      padding:5%;
      margin: 0;
    }
  }
}


